@media (max-width: 1200px)
  .header-contact
    column-gap: 25px
    &__links
      gap: 25px
    &__btn
      padding: 13px 20px
      margin-left: 0
  .tours
    &__card
      max-width: 320px
    &__image
      margin-bottom: 16px
    &__text
      margin-bottom: 23px
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(234px, 1fr))
      column-gap: 29px
    &__card
      height: 234px
      &:nth-child(3)
        height: 494px
  .gallery__image
    width: 320px
    height: 233px
  .swiper
    height: 233px
  .aboutUs-advantages
    &__list
      gap: 20px
    &__item
      max-width: 210px
  .preview__wrapper
    width: 100%
  .tourBases__card
    grid-template-columns: 318px 1fr
  .content__wrapper, .catalog__wrapper, .excursion-gallery__wrapper
    justify-content: space-evenly
    gap: 25px
  .sq-card
    width: 450px
    height: 290px

@media (max-width: 1082px)
  .popularOffers
    &__card:nth-child(12)
      display: none

@media (min-width: 992px)
  .link:hover
    color: $red
  .header-contact__btn, .promo__button
    &:hover
      background-color: $white
      color: $black
    &--page
      &:hover
        background-color: $blue-dark
        color: $white
  .menu__item
    &:hover
      padding: 5px
      background-color: $white
      border-radius: 6px 6px 0 0
      .menu__link
        color: $black
      .submenu
        display: block
  .promo__link:hover
    background-image: url('../img/promo/arrow-down-hover.svg')
  .popularOffers__link
    &:hover
      .popularOffers__image
        transform: scale(1.1)
        transition: transform 0.5s ease 0s
  .gallery__btn:hover
    opacity: 0.7
  .form__button:hover
    background-color: $white
    color: $blue-dark
  .to-top:hover
    opacity: 0.8
  .banner__button
    &:hover
      background-color: $blue-dark
      border-color: $blue-dark
    &-download
      &:hover
        background-color: green
        border-color: green
  .tourBases-description__button, .vw-card__button
    &:hover
      background-color: $blue
      color: $white
  .sq-card__link
    &:hover
      .sq-card__image
        transform: scale(1.1)
        transition: transform 0.5s ease 0s
  .vh-card, .vw-card, .tourBases__card
    &:hover
      box-shadow: 0 4px 16px 0 rgba($black, 0.3)
      .vh-card__title
        color: $red

@media (max-width: 992px)
  input, textarea
    &::placeholder
      font-size: 13px
  .wrapper
    position: relative
    top: 82px
  .header
    position: fixed
    background: linear-gradient(to top, $blue-turquoise, $blue-brilliant)
    &--position-relative
      color: $white
    &-contact
      &--mobile
        &-hidden
          display: none
        &-visible
          margin-top: 23px
          display: flex
          flex-direction: column
          gap: 23px
      &__links--visible
        display: flex
        flex-direction: column
        gap: 23px
        color: $black
      &__btn--page
        background-color: $blue-dark
        color: $white
    &__button-menu
      display: block
    &__menu
      padding-bottom: 25px
      position: fixed
      top: 81px
      right: 0
      bottom: 0
      left: 0
      transform: translateX(100%)
      background-color: $white
  .menu
    &__list
      padding-bottom: 20px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 10px
      text-align: center
      border-bottom: 1px solid $white-light
    &__item
      padding: 0
      margin-right: 0
    &__link
      font-weight: 500
      line-height: 38px
      text-transform: uppercase
      color: $black-light-2
    &__close
      display: block
      position: absolute
      top: 17px
      right: 16px
      width: 14px
      height: 14px
      background-image: url('../img/header/menu-close.svg')
      background-color: transparent
      cursor: pointer
      border: none
      outline: none
  .submenu
    display: block
    position: relative
    padding: 0
    background-color: transparent
  .promo
    min-height: 740px
    padding-top: 84px
    &__content
      width: 100%
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(248px, 1fr))
    &__card
      height: 248px
      &:nth-child(3)
        display: none
      &:nth-child(12)
        display: block
    &__title
      font-size: 16px
      line-height: 21px
      &--all
        font-size: 22px
        line-height: 29px
    &__cost
      font-size: 14px
      line-height: 18px
  .aboutBaikal-info
    flex-direction: column
    &__content
      max-width: 100%
    &__video
      max-width: 100%
      height: 398px
      background-position: center
  .gallery__image
    width: 352px
    height: 256px
  .swiper
    height: 256px
  .aboutUs
    &-content
      grid-template-columns: 1fr
      &__img
        display: none
    &-advantages
      &__item
        min-width: 105px
        max-width: 180px
      &__count
        font-size: 43px
        line-height: 57px
      &__text
        font-size: 18px
        line-height: 23px
  .footer
    &-menu
      flex-wrap: wrap
      justify-content: flex-start
      gap: 40px
      &__item
        width: 190px
    &__bottom
      flex-direction: column
      gap: 40px
    &-contact
      width: 100%
    &-copy
      align-self: flex-end
  .tourBases
    &__content
      grid-template-columns: 1fr
    &-description
      padding: 0
      max-width: 100%
      border: none
    &-inner
      display: none
  .sq-card
    width: 342px
    height: 221px
    &__link
      padding: 21px 17px
    &__text
      font-size: 20px
      line-height: 25px
  .vh-card
    width: 342px
    min-height: 342px
    &__image
      height: 216px
  .vw-card
    grid-template-columns: 320px 1fr
    &__details-wrapper
      display: none
  .contacts__wrapper
    margin: 0 auto
  .bases
    display: none
  .goryachinsk
    padding: 30px 0 60px
    &__content
      width: 100%
    &__image
      height: 450px
  .base
    &__content
      width: 100%
    &__image
      height: 450px
  .excursion
    &__title, &__info
      width: 100%
    &__image
      height: 400px
    &-gallery__card
      width: 342px
      height: 249px

@media (max-width: 768px)
  input, textarea
    &::placeholder
      font-size: 16px
  .promo
    min-height: 640px
    margin-bottom: 40px
    &__content
      margin-bottom: 40px
    &__title
      font-size: 64px
      line-height: 83px
    &__text
      font-size: 18px
      line-height: 25px
    &__link
      bottom: 24px
  .directions__wrapper
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr))
    column-gap: 25px
  .popularOffers__wrapper
    column-gap: 20px
  .aboutBaikal-map
    &__image
      height: 500px
  .gallery__image
    width: 320px
    height: 233px
  .swiper
    height: 233px
  .aboutUs-advantages
    &__list
      flex-wrap: wrap
      justify-content: space-evenly
  .form
    row-gap: 16px
    &__input
      &-wrapper
        &:not(:nth-child(3), :last-child)
          flex-wrap: wrap
          row-gap: 16px
      &-group
        max-width: 100%
        &--count
          max-width: 47%
    &__button
      width: 270px
  .footer
    &__top
      display: none
    &__bottom
      padding: 0
      flex-direction: row
    &-contact
      width: 237px
      &__item
        &:not(:first-child)
          display: none
  .banner
    height: 400px
    &__content
      margin-top: 50px
    &__button
      display: none
      &-download
        display: none
  .content
    &__title
      text-align: center
  .vw-card, .tourBases
    margin: 0 auto
    max-width: 500px
    grid-template-columns: 1fr
    &__image
      height: 450px
  .tourBases__content
    padding: 23px 16px
  .contacts
    &-item__image, &__map
      height: 450px
  .base
    padding: 11px 0 60px
    &__image
      height: 337px
  .rooms__content
    grid-template-columns: 1fr 196px
  .excursion
    &__title
      font-size: 33px
      line-height: 43px
    &__image
      height: 330px

@media (max-width: 576px)
  .breadcrumbs
    &__list
      flex-wrap: wrap
    &__item
      font-size: 12px
  .promo
    min-height: 550px
    padding-top: 70px
    &__title
      font-size: 55px
      line-height: 75px
    &__text
      font-size: 16px
      line-height: 23px
  .directions
    padding-bottom: 60px
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(246px, 320px))
      justify-content: center
    &__image
      display: block
      margin: 0 auto
    &__text
      text-align: center
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(248px, 320px))
      justify-content: center
    &__card
      height: 288px
      &:nth-child(n+5):not(:last-child)
        display: none
  .aboutBaikal
    padding-top: 40px
    &-map
      margin-bottom: 50px
      &__image
        height: 400px
    &-info__video
      background-position: left
  .gallery
    &__container
      position: relative
    &__link
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 35px
  .aboutUs
    padding-top: 60px
    &__title
      font-size: 30px
      line-height: 39px
    &-content__text
      font-size: 16px
      line-height: 21px
  .booking
    padding-bottom: 60px
  .form
    &__input
      &-wrapper
        &:nth-child(3)
          flex-direction: column
          row-gap: 16px
        &:last-child
          flex-direction: column
          row-gap: 27px
      &-group--count
        max-width: 100%
    &__date
      width: 50%
      &-wrapper
        flex-direction: row
        gap: 16px
    &__message
      height: 180px
    &__button
      max-width: 288px
    &__checkbox-wrapper
      order: -1
  .footer
    &__bottom
      flex-direction: column
    &-copy
      align-self: flex-start
      &__text
        margin-right: auto
  .banner
    height: 350px
    &__content
      margin-top: 30px
    &__title
      font-size: 29px
      line-height: 38px
  .vw-card
    &__image
      height: 350px
    &__title
      font-size: 20px
      line-height: 25px
  .contacts
    margin: 60px 0
    &-item__image, &__map
      height: 350px
  .tourBases__image, .goryachinsk__image
    height: 350px
  .base
    &__title
      margin-bottom: 20px
      font-size: 29px
      line-height: 38px
    &__image
      height: 250px
    &__btn
      padding: 13px 23px
      width: 200px
      height: 44px
    &-description
      &__text
        font-size: 16px
        line-height: 21px
    &-info
      &__title
        margin-top: 30px
        font-size: 20px
        line-height: 26px
        &--strong
          font-size: 22px
          line-height: 29px
      &__text, &__item
        font-size: 16px
        line-height: 21px
      &__subtitle
        line-height: 21px
  .rooms
    margin-top: 30px
    &__inner
      flex-direction: column
      align-items: flex-start
      gap: 10px
    &__title
      font-size: 24px
      line-height: 29px
    &__card
      padding: 17px 17px 27px
    &__content
      grid-template-columns: 1fr
      gap: 20px
    &__image
      order: -1
    &__block
      gap: 15px
  .btn-download
    &--blue
      width: 143px
      font-size: 16px
  .excursion
    padding: 40px 0
    &__title
      font-size: 27px
      line-height: 37px
    &__image
      height: 260px

@media (max-width: 480px)
  .container
    padding: 0 15px
  .wrapper
    top: 73px
  .main__content
    padding-bottom: 40px
  .to-top
    right: 15px
  .title
    font-size: 22px
    line-height: 29px
  .logo
    &__img
      margin-right: 15px
      width: 45px
      height: 45px
    &__title
      font-weight: 400
      font-size: 17px
      line-height: 21px
    &__subtitle
      font-size: 14px
  .header
    &__menu
      top: 73px
    &-contact
      &--mobile-visible
        align-items: flex-start
      &__link
        justify-content: flex-start
      &__btn
        padding: 13px 40px
  .menu__list
    padding-left: 5px
    text-align: left
    align-items: flex-start
  .promo
    margin-top: -73px
    padding-top: 111px
    min-height: 460px
    background-position: 35% 50%
    &__title
      margin-bottom: 13px
      font-size: 40px
      line-height: 52px
    &__text
      font-size: 14px
      line-height: 20px
    &__button
      padding: 15px
      margin: 0 auto
      display: block
      width: 226px
      height: 48px
      font-size: 16px
      line-height: 19px
      text-align: center
  .tours
    margin-bottom: 45px
    &__wrapper
      position: relative
      height: 740px
      gap: 16px
      overflow: hidden
      &::after
        content: ''
        position: absolute
        width: 100%
        height: 35px
        left: 0
        bottom: 0
        background: linear-gradient(rgba($black,0),$white)
    &__text
      margin-bottom: 18px
    &__btn--show
      display: block
  .directions
    &__wrapper
      margin-top: 30px
      position: relative
      height: 500px
      row-gap: 26px
      overflow: hidden
    &__btn--show
      display: block
  .popularOffers
    padding-top: 40px
    &__wrapper
      padding-bottom: 60px
  .aboutBaikal
    margin-bottom: 60px
    &-map
      margin-bottom: 40px
      &__image
        height: 360px
    &-info
      &__text
        font-size: 16px
        line-height: 21px
      &__link
        font-size: 14px
        line-height: 16px
      &__video
        height: 200px
      &__button
        width: 44px
        height: 44px
        background-size: cover
  .gallery
    &__container
      padding-top: 36px
    &__top
      margin-bottom: 33px
    &__image
      height: 210px
    &__btn
      top: -68px
  .swiper
    height: 210px
  .aboutUs
    &-advantages
      &__list
        padding-bottom: 60px
        justify-content: space-between
        gap: 15px
        column-gap: 10px
      &__item
        min-width: 140px
        max-width: 140px
      &__text
        font-size: 16px
        line-height: 18px
  .booking__container
    padding: 0 15px
  .banner
    height: 250px
    &__content
      margin-top: 0
    &__title
      font-size: 23px
      line-height: 33px
      &--center
        margin-top: 25px
  .tourBases__image
    height: 290px
  .preview
    padding: 40px 0
    &__text
      font-size: 16px
      line-height: 21px
  .content__title
    margin-bottom: 40px
    font-size: 22px
    line-height: 29px
  .sq-card
    width: 290px
    height: 187px
    &__text
      font-size: 16px
      line-height: 21px
  .vh-card
    width: 290px
    min-height: 280px
    &__image
      height: 183px
    &__title
      font-size: 18px
      line-height: 23px
    &__info, &__price
      font-size: 14px
      line-height: 18px
  .vw-card
    &__image
      height: 290px
    &__content
      padding: 24px 20px
    &__title
      font-size: 18px
      line-height: 23px
    &__text
      font-size: 14px
      line-height: 18px
  .pagination
    margin-top: 40px
    &__item
      &:nth-child(4), &:nth-child(5)
        display: none
  .contacts
    margin: 20px 0 40px
    &__title
      font-size: 30px
      line-height: 35px
      margin-bottom: 30px
    &-item
      &__desc
        font-size: 16px
        line-height: 21px
      &__image
        margin: 30px 0
        height: 250px
      &__title
        font-size: 22px
        line-height: 29px
      &__subtitle
        font-size: 18px
        line-height: 23px
      &__text, &__link
        font-size: 16px
        line-height: 21px
    &__adress
      font-weight: 500
      font-size: 16px
      line-height: 21px
    &__map
      height: 300px
  .goryachinsk
    padding: 20px 0 40px
    &__wrapper
      padding-bottom: 40px
    &__title
      margin-bottom: 30px
      font-size: 29px
      line-height: 38px
    &__image
      height: 250px
    &-description__text
      font-size: 16px
      line-height: 21px
    &-info
      &__title
        margin-top: 30px
        font-size: 18px
        line-height: 23px
      &__text
        font-size: 16px
        line-height: 21px
  .catalog
    padding-top: 30px
    &__title
      margin-bottom: 30px
  .base__image
    margin-bottom: 20px
    height: 200px
  .rooms
    &__wrapper
      margin-top: 30px
    &__subtitle
      font-size: 18px
      line-height: 21px
    &__cost
      font-size: 14px
      line-height: 16px
    &-info__text, &__text, &-description
      font-size: 14px
      line-height: 18px
  .excursion
    padding-top: 20px
    &__title
      margin-bottom: 30px
    &__image
      margin-bottom: 30px
      height: 230px
    &__info
      margin-bottom: 30px
      font-size: 16px
    &-details
      margin-bottom: 30px
      &__title
        font-size: 16px
    &-gallery__card
      width: 290px
      height: 211px
  .open
    height: auto
    &::after
      bottom: -30px
  .hidden
    display: none
  .active
    display: block
    margin-top: 30px
