@media (max-width: 1200px)
  .header
    &-contact
      column-gap: 25px
      &__btn
        padding: 13px 20px
        margin-left: 0

@media (min-width: 992px)
  .link
    &:hover
      color: $red
  .header-contact__btn, .promo__button
    &:hover
      background-color: $white
      color: $black
    &--page
      &:hover
        background-color: $blue-dark
        color: $white
  .menu__item
    &:hover
      padding: 5px
      background-color: $white
      border-radius: 6px 6px 0 0
      .menu__link
        color: $black
      .submenu
        display: block
  .promo__link
    &:hover
      background-image: url('../img/promo/arrow-down-hover.svg')
  .card__link
    &:hover
      .card__image
        transform: scale(1.1)
        transition: 1s
  .form__button
    &:hover
      background-color: $white
      color: $blue-dark
  .tourBases-description__button, .huntingFishing__btn
    &:hover
      background-color: $blue
      color: $white
  .banner
    &__button
      &:hover
        background-color: $blue-dark
        border-color: $blue-dark
      &-download
        &:hover
          background-color: green
          border-color: green
  .placesInterest__button
    &:hover
      background-color: $blue-dark
      color: $white

@media (max-width: 992px)
  .header
    &-contact
      &__links--hidden
        display: none
  .promo
    &__content
      width: 100%

@media (max-width: 768px)
  .container
    padding: 0 30px

  .header
    position: fixed
    background: linear-gradient(to top, $blue-turquoise, $blue-brilliant)
    &-contact
      &--mobile
        &-hidden
          display: none
        &-visible
          margin-top: 23px
          display: flex
          flex-direction: column
          gap: 23px
      &__links--visible
        display: flex
        flex-direction: column
        gap: 23px
        color: $black
    &__button-menu
      display: block
      width: 32px
      height: 24px
      background-image: url('../img/header/menu-open.svg')
      background-color: transparent
      cursor: pointer
      border: none
      outline: none
    &__menu
      padding-bottom: 25px
      position: fixed
      top: 81px
      right: 0
      bottom: 0
      left: 0
      background-color: $white
      transform: translateX(100%)
      transition: all 1s
      &--visible
        transform: translateX(0)
        overflow: auto

  .menu
    &__list
      padding-bottom: 20px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 10px
      text-align: center
      border-bottom: 1px solid $white-light
    &__item
      padding: 0
      margin-right: 0
    &__link
      font-weight: 500
      line-height: 38px
      text-transform: uppercase
      color: $black-light-2
    &__close
      display: block
      position: absolute
      top: 17px
      right: 16px
      width: 14px
      height: 14px
      background-image: url('../img/header/menu-close.svg')
      background-color: transparent
      cursor: pointer
      border: none
      outline: none

  .submenu
    display: block
    position: relative
    padding: 0

  .promo
    min-height: 640px
    padding-top: 165px
    margin-bottom: 40px
    &__content
      margin-bottom: 40px
    &__title
      font-size: 64px
      line-height: 83px
    &__text
      font-size: 18px
      line-height: 25px
    &__link
      bottom: 24px

@media (max-width: 576px)
  .promo
    min-height: 550px
    padding-top: 135px
    &__title
      font-size: 55px
      line-height: 75px
    &__text
      font-size: 16px
      line-height: 23px

@media (min-width: 320px) and (max-width: 480px)
  .container
    padding: 0 15px
  .logo
    &__img
      margin-right: 15px
      width: 45px
      height: 45px
    &__title
      font-weight: 400
      font-size: 17px
      line-height: 21px
    &__subtitle
      font-size: 14px

  .header
    &__menu
      top: 67px
    &-contact
      &--mobile-visible
        align-items: flex-start
      &__link
        justify-content: flex-start
      &__btn
        padding: 13px 40px

  .menu
    &__list
      padding-left: 5px
      text-align: left
      align-items: flex-start

  .promo
    padding-top: 111px
    min-height: 460px
    margin-bottom: 20px
    &__title
      font-size: 40px
      line-height: 52px
    &__text
      font-size: 14px
      line-height: 20px
    &__button
      padding: 15px
      margin: 0 auto
      display: block
      width: 226px
      height: 48px
      font-size: 16px
      line-height: 19px
      text-align: center
