@media (max-width: 1200px)
  .header
    &-contact
      column-gap: 25px
      &__links
        gap: 25px
      &__btn
        padding: 13px 20px
        margin-left: 0
  .tours
    &__card
      max-width: 320px
    &__image
      margin-bottom: 16px
    &__text
      margin-bottom: 23px
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(234px, 1fr))
      column-gap: 29px
    &__card:nth-child(3)
      height: 494px
  .card
    height: 234px
  .gallery
    &__image
      width: 320px
      height: 233px
  .swiper
    height: 233px
  .aboutUs
    &-advantages
      &__list
        gap: 20px
      &__item
        max-width: 210px
  .tourBases
    &__card
      grid-template-columns: 318px 1fr
  .preview
    &-info__wrapper
      width: 100%
  .block
    width: 450px
    height: 290px
    &-wrapper
      justify-content: space-evenly
  .allExcursions
    &__wrapper
      justify-content: space-evenly
      gap: 33px
  .extremeTours
    &__wrapper
      justify-content: space-evenly
  .catalog
    &__wrapper
      justify-content: space-evenly
  .hotels
    &__wrapper
      justify-content: space-evenly
      gap: 33px

@media (max-width: 1082px)
  .popularOffers
    &__card:nth-child(12)
      display: none

@media (min-width: 992px)
  .link
    &:hover
      color: $red
  .header-contact__btn, .promo__button
    &:hover
      background-color: $white
      color: $black
    &--page
      &:hover
        background-color: $blue-dark
        color: $white
  .menu__item
    &:hover
      padding: 5px
      background-color: $white
      border-radius: 6px 6px 0 0
      .menu__link
        color: $black
      .submenu
        display: block
  .promo__link
    &:hover
      background-image: url('../img/promo/arrow-down-hover.svg')
  .card__link
    &:hover
      .card__image
        transform: scale(1.1)
        transition: 1s
  .aboutBaikal
    &-video
      &:hover
        .aboutBaikal-video__button
          opacity: 1
          visibility: visible
  .form__button
    &:hover
      background-color: $white
      color: $blue-dark
  .tourBases-description__button, .huntingFishing__btn
    &:hover
      background-color: $blue
      color: $white
  .banner
    &__button
      &:hover
        background-color: $blue-dark
        border-color: $blue-dark
      &-download
        &:hover
          background-color: green
          border-color: green
  .placesInterest__button
    &:hover
      background-color: $blue-dark
      color: $white

@media (max-width: 992px)
  input, textarea
    &::placeholder
      font-size: 13px
  .header
    &-contact
      &__links--hidden
        display: none
  .promo
    &__content
      width: 100%
  .card
    &__title
      font-size: 16px
      line-height: 21px
      &--all
        font-size: 22px
        line-height: 29px
    &__cost
      font-size: 14px
      line-height: 18px
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(248px, 1fr))
    &__card:nth-child(3)
      display: none
    &__card:nth-child(12)
      display: block
  .card
    height: 248px
  .aboutBaikal
    &-info
      flex-direction: column
      &__content
        max-width: 100%
      &__video
        max-width: 100%
        height: 398px
        background-position: center
  .gallery
    &__image
      width: 352px
      height: 256px
  .swiper
    height: 256px
  .aboutUs
    &-content
      grid-template-columns: 1fr
      &__img
        display: none
    &-advantages
      &__item
        min-width: 105px
        max-width: 180px
      &__count
        font-size: 43px
        line-height: 57px
      &__text
        font-size: 18px
        line-height: 23px
  .footer
    &-menu
      flex-wrap: wrap
      justify-content: flex-start
      gap: 40px
      &__item
        width: 190px
    &__bottom
      flex-direction: column
      gap: 40px
    &-contact
      width: 100%
    &-copy
      align-self: flex-end
  .tourBases
    &__content
      grid-template-columns: 1fr
    &-description
      padding: 0
      max-width: 100%
      border: none
    &-inner
      display: none
  .block
    width: 344px
    height: 221px
    &-wrapper
      column-gap: 21px
    &__link
      padding: 21px 17px
    &__text
      font-size: 20px
      line-height: 25px
  .allExcursions
    &__card
      width: 338px
      height: 400px
      &:nth-child(n+5)
        display: none
    &__image
      height: 214px
  .extremeTours
    &__wrapper
      column-gap: 25px
    &__card
      width: 342px
      height: 374px
      &:nth-child(n+5)
        display: none
    &__image
      height: 215px
  .huntingFishing
    &__card
      grid-template-columns: 320px 1fr
    &-details
      &__wrapper
        display: none
  .placesInterest
    &__card
      grid-template-columns: 320px 1fr
  .contacts
    &__wrapper
      margin: 0 auto
  .bases
    display: none
  .goryachinsk
    padding: 30px 0 60px
    &__content
      width: 100%
    &__image
      height: 450px
  .catalog
    &__card
      max-width: 338px
      height: 345px
    &__image
      height: 214px
  .base
    &__content
      width: 100%
    &__image
      height: 450px
  .hotels
    &__card
      width: 338px
      height: 338px
    &__image
      height: 218px

@media (max-width: 768px)
  input, textarea
    &::placeholder
      font-size: 16px
  .header
    position: fixed
    background: linear-gradient(to top, $blue-turquoise, $blue-brilliant)
    &--position-relative
      color: $white
    &-contact
      &--mobile
        &-hidden
          display: none
        &-visible
          margin-top: 23px
          display: flex
          flex-direction: column
          gap: 23px
      &__links--visible
        display: flex
        flex-direction: column
        gap: 23px
        color: $black
      &__btn--page
        background-color: $blue-dark
        color: $white
    &__button-menu
      display: block
      width: 32px
      height: 24px
      background-image: url('../img/header/menu-open.svg')
      background-color: transparent
      cursor: pointer
      border: none
      outline: none
    &__menu
      padding-bottom: 25px
      position: fixed
      top: 81px
      right: 0
      bottom: 0
      left: 0
      background-color: $white
      transform: translateX(100%)
      transition: all 1s
      &--visible
        transform: translateX(0)
        overflow: auto
  .menu
    &__list
      padding-bottom: 20px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 10px
      text-align: center
      border-bottom: 1px solid $white-light
    &__item
      padding: 0
      margin-right: 0
    &__link
      font-weight: 500
      line-height: 38px
      text-transform: uppercase
      color: $black-light-2
    &__close
      display: block
      position: absolute
      top: 17px
      right: 16px
      width: 14px
      height: 14px
      background-image: url('../img/header/menu-close.svg')
      background-color: transparent
      cursor: pointer
      border: none
      outline: none
  .submenu
    display: block
    position: relative
    padding: 0
  .promo
    min-height: 640px
    padding-top: 165px
    margin-bottom: 40px
    &__content
      margin-bottom: 40px
    &__title
      font-size: 64px
      line-height: 83px
    &__text
      font-size: 18px
      line-height: 25px
    &__link
      bottom: 24px
  .directions
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(246px, 1fr))
      column-gap: 25px
  .popularOffers
    &__wrapper
      column-gap: 20px
  .aboutBaikal
    &-map
      &__image
        height: 500px
  .gallery
    &__image
      width: 320px
      height: 233px
  .swiper
    height: 233px
  .aboutUs
    &-advantages
      &__list
        flex-wrap: wrap
        justify-content: space-evenly
  .form
    row-gap: 16px
    &__input
      &-wrapper
        &:not(:nth-child(3), :last-child)
          flex-wrap: wrap
          row-gap: 16px
      &-group
        max-width: 100%
        &--count
          max-width: 47%
    &__button
      width: 270px
  .footer
    &--page
      position: relative
      top: 82px
      padding-bottom: 127px
    &__top
      display: none
    &__bottom
      padding: 0
      flex-direction: row
    &-contact
      &__item
        &:not(:first-child)
          display: none
    &-contact
      width: 237px
  .main
    position: relative
    top: 82px
  .banner
    height: 400px
    &__content
      margin-top: 50px
    &__button
      display: none
      &-download
        display: none
  .tourBases
    &__card
      margin: 0 auto
      max-width: 500px
      grid-template-columns: 1fr
    &__image
      height: 450px
    &__content
      padding: 23px 16px
  .shipsYachts
    &__title
      text-align: center
  .allExcursions
    &__card:nth-child(4)
      display: none
  .extremeTours
    &__card:nth-child(4)
      display: none
  .huntingFishing
    &__card
      grid-template-columns: 1fr
      max-width: 500px
      margin: 0 auto
    &__image
      height: 450px
    &__title
      margin-bottom: 14px
  .placesInterest
    &__card
      grid-template-columns: 1fr
      max-width: 500px
      margin: 0 auto
    &__image
      height: 450px
  .contacts
    &-item__image, &__map
      height: 450px
  .base
    padding: 11px 0 60px
    &__image
      height: 337px
  .rooms
    &__content
      grid-template-columns: 1fr 196px

@media (max-width: 576px)
  .breadcrumbs
    &__list
      flex-wrap: wrap
    &__item
      font-size: 12px
  .promo
    min-height: 550px
    padding-top: 135px
    &__title
      font-size: 55px
      line-height: 75px
    &__text
      font-size: 16px
      line-height: 23px
  .directions
    padding-bottom: 60px
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(246px, 320px))
      justify-content: center
    &__image
      display: block
      margin: 0 auto
    &__text
      text-align: center
  .popularOffers
    &__wrapper
      grid-template-columns: repeat(auto-fit, minmax(248px, 320px))
      justify-content: center
  .card
    height: 288px
    &:nth-child(n+5):not(:last-child)
      display: none
  .aboutBaikal
    padding-top: 40px
    &-map
      margin-bottom: 50px
      &__image
        height: 400px
    &-info
      &__video
        background-position: left
  .gallery
    &__container
      position: relative
    &__link
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 35px
  .aboutUs
    padding-top: 60px
    &__title
      font-size: 30px
      line-height: 39px
    &-content
      &__text
        font-size: 16px
        line-height: 21px
  .booking
    padding-bottom: 60px
  .form
    &__input
      &-wrapper
        &:nth-child(3)
          flex-direction: column
          row-gap: 16px
        &:last-child
          flex-direction: column
          row-gap: 27px
      &-group--count
        max-width: 100%
    &__date
      width: 50%
      &-wrapper
        flex-direction: row
        gap: 16px
    &__message
      height: 180px
    &__button
      max-width: 288px
    &__checkbox
      &-wrapper
        order: -1
  .footer
    &__bottom
      flex-direction: column
    &-copy
      align-self: flex-start
      &__text
        margin-right: auto
  .banner
    height: 350px
    &__content
      margin-top: 30px
    &__title
      font-size: 29px
      line-height: 38px
  .tourBases
    padding: 60px 0
    &__text
      font-size: 18px
      line-height: 25px
    &__image
      height: 350px
  .huntingFishing, .placesInterest
    &__image
      height: 350px
    &__title
      font-size: 20px
      line-height: 25px
  .contacts
    margin: 60px 0
    &-item__image, &__map
      height: 350px
  .goryachinsk
    &__image
      height: 350px
  .base
    &__title
      margin-bottom: 20px
      font-size: 29px
      line-height: 38px
    &__image
      height: 250px
    &__btn
      padding: 13px 23px
      width: 200px
      height: 44px
    &-description
      &__text
        font-size: 16px
        line-height: 21px
    &-info
      &__title
        margin-top: 30px
        font-size: 20px
        line-height: 26px
        &--strong
          font-size: 22px
          line-height: 29px
      &__text, &__item
        font-size: 16px
        line-height: 21px
      &__subtitle
        line-height: 21px
  .rooms
    margin-top: 30px
    &__inner
      flex-direction: column
      align-items: flex-start
      gap: 10px
    &__title
      font-size: 24px
      line-height: 29px
    &__card
      padding: 17px 17px 27px
    &__content
      grid-template-columns: 1fr
      gap: 20px
    &__image
      order: -1
    &__block
      gap: 15px
  .btn-download
    &--blue
      width: 143px
      font-size: 16px

@media (max-width: 480px)
  .container
    padding: 0 15px
  .title
    font-size: 22px
    line-height: 29px
  .logo
    &__img
      margin-right: 15px
      width: 45px
      height: 45px
    &__title
      font-weight: 400
      font-size: 17px
      line-height: 21px
    &__subtitle
      font-size: 14px
  .header
    &__menu
      top: 73px
    &-contact
      &--mobile-visible
        align-items: flex-start
      &__link
        justify-content: flex-start
      &__btn
        padding: 13px 40px
  .menu
    &__list
      padding-left: 5px
      text-align: left
      align-items: flex-start
  .promo
    padding-top: 111px
    min-height: 460px
    &__title
      font-size: 40px
      line-height: 52px
    &__text
      font-size: 14px
      line-height: 20px
    &__button
      padding: 15px
      margin: 0 auto
      display: block
      width: 226px
      height: 48px
      font-size: 16px
      line-height: 19px
      text-align: center
  .tours
    margin-bottom: 45px
    &__wrapper
      position: relative
      height: 740px
      gap: 16px
      overflow: hidden
      &::after
        content: ''
        position: absolute
        width: 100%
        height: 35px
        left: 0
        bottom: 0
        background: linear-gradient(rgba($black,0),$white)
      &--opened
        height: auto
        &::after
          bottom: -30px
    &__text
      margin-bottom: 18px
    &__btn
      &--show
        display: block
        &-hidden
          display: none
      &--minimize-active
        display: block
        margin-top: 30px
  .directions
    &__wrapper
      margin-top: 30px
      position: relative
      height: 500px
      row-gap: 26px
      overflow: hidden
      &--opened
        height: auto
    &__btn
      &--show
        display: block
        &-hidden
          display: none
      &--minimize-active
        display: block
  .popularOffers
    padding-top: 40px
    &__wrapper
      padding-bottom: 60px
  .aboutBaikal
    margin-bottom: 60px
    &-map
      margin-bottom: 40px
      &__image
        height: 360px
    &-info
      &__text
        font-size: 16px
        line-height: 21px
      &__link
        font-size: 14px
        line-height: 16px
      &__video
        height: 200px
      &__button
        width: 44px
        height: 44px
        background-size: cover
  .gallery
    &__container
      padding-top: 36px
    &__top
      margin-bottom: 33px
    &__image
      height: 210px
    &__btn
      top: -68px
  .swiper
    height: 210px
  .aboutUs
    &-advantages
      &__list
        padding-bottom: 60px
        justify-content: space-between
        gap: 15px
        column-gap: 10px
      &__item
        min-width: 140px
        max-width: 140px
      &__text
        font-size: 16px
        line-height: 18px
  .booking
    &__container
      padding: 0 15px
  .main
    top: 73px
  .footer
    &--page
      top: 73px
      padding-bottom: 118px
  .banner
    height: 250px
    &__content
      margin-top: 0
    &__title
      font-size: 25px
      line-height: 35px
      &--center
        margin-top: 25px
  .tourBases
    &__image
      height: 290px
  .preview-info
    padding: 40px 0
    &__text
      font-size: 16px
      line-height: 21px
  .shipsYachts
    margin-bottom: 60px
    &__title
      margin-bottom: 40px
      font-size: 22px
      line-height: 29px
  .block
    width: 290px
    height: 187px
    &__text
      font-size: 16px
      line-height: 21px
  .transportServices
    margin-bottom: 60px
  .allExcursions
    margin-bottom: 60px
    &__card
      width: 290px
      height: 340px
    &__image
      height: 183px
    &__content
      padding-top: 10px
      padding-bottom: 15px
    &__title
      font-size: 18px
      line-height: 21px
    &__info
      font-size: 14px
      line-height: 18px
  .extremeTours
    margin-bottom: 60px
    &__card
      width: 290px
      height: 320px
    &__image
      height: 183px
    &__content
      padding: 12px 16px
    &__title
      font-size: 18px
      line-height: 23px
    &__info
      font-size: 14px
      line-height: 18px
  .huntingFishing
    margin-bottom: 60px
    &__image
      height: 290px
    &__content
      padding: 16px 16px 24px 16px
    &__title
      font-size: 18px
      line-height: 23px
    &__text
      font-size: 14px
      line-height: 18px
  .placesInterest
    margin-bottom: 60px
    &__image
      height: 290px
    &__content
      padding: 24px 20px
    &__title
      font-size: 18px
      line-height: 23px
    &__info
      font-size: 14px
      line-height: 18px
  .pagination
    &__item
      &:nth-child(4), &:nth-child(5)
        display: none
  .contacts
    margin: 20px 0 40px
    &__title
      font-size: 30px
      line-height: 35px
      margin-bottom: 30px
    &-item
      &__desc
        font-size: 16px
        line-height: 21px
      &__image
        margin: 30px 0
        height: 250px
      &__title
        font-size: 22px
        line-height: 29px
      &__subtitle
        font-size: 18px
        line-height: 23px
      &__text, &__link
        font-size: 16px
        line-height: 21px
    &__adress
      font-weight: 500
      font-size: 16px
      line-height: 21px
    &__map
      height: 300px
  .goryachinsk
    padding-top: 20px
    &__wrapper
      padding-bottom: 40px
    &__title
      margin-bottom: 30px
      font-size: 29px
      line-height: 38px
    &__image
      height: 250px
    &-description
      &__text
        font-size: 16px
        line-height: 21px
    &-info
      &__title
        margin-top: 30px
        font-size: 18px
        line-height: 23px
      &__text
        font-size: 16px
        line-height: 21px
  .catalog
    &__title
      margin: 30px 0 30px
    &__card
      height: 300px
    &__image
      height: 188px
    &__content
      padding: 14px 20px
    &__subtitle
      font-size: 18px
      line-height: 23px
  .base
    &__image
      margin-bottom: 20px
      height: 200px
  .rooms
    &__wrapper
      margin-top: 30px
    &__subtitle
      font-size: 18px
      line-height: 21px
    &__cost
      font-size: 14px
      line-height: 16px
    &-info__text, &__text, &-description
      font-size: 14px
      line-height: 18px
  .hotels
    margin-bottom: 60px
    &__card
      width: 290px
      height: 290px
    &__image
      height: 188px
    &__content
      padding: 17px 20px 20px
    &__title
      font-size: 18px
      line-height: 23px
    &__cost
      font-size: 14px
      line-height: 18px
