.directions
  padding-top: 44px
  padding-bottom: 80px
  background-color: rgba($green, 0.07)
  &__wrapper
    margin-top: 50px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr))
    column-gap: 28px
    row-gap: 32px
    font-size: 16px
  &__text
    margin-top: 16px
  &__btn
    border: none
    display: none
    margin: 12px auto 0
    border-bottom: 1px dashed
    border-color: $blue-dark
    color: $blue-dark
    background-color: transparent
    cursor: pointer
    outline: none
