<footer class="footer footer--page">
  <div class="container">
    <div class="footer__top">
      <ul class="footer-menu">
        <li class="footer-menu__item">
          <h3 class="footer-menu__title">Бронирование</h3>
          <ul class="footer-submenu">
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="tour-bases.html">Отели и базы отдыха</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="ships-and-yachts.html">Теплоходы и катера</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="transport-services.html">Транспортные услуги</a>
            </li>
          </ul>
        </li>
        <li class="footer-menu__item">
          <h3 class="footer-menu__title">Экскурсии</h3>
          <ul class="footer-submenu">
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="all-excursions.html">Экскурсии и туры</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="extreme-tours.html">Экстрим туры</a>
            </li>
          </ul>
        </li>
        <li class="footer-menu__item">
          <h3 class="footer-menu__title">Туры на Байкал</h3>
          <ul class="footer-submenu">
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="#">Туры Зима-Весна</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="#">Туры Лето-Осень</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="hunting-and-fishing.html">Туры охоты и рыбалки</a>
            </li>
          </ul>
        </li>
        <li class="footer-menu__item">
          <h3 class="footer-menu__title">О Байкале</h3>
          <ul class="footer-submenu">
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="#">Карта Байкала</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="places-of-interest.html">Достопримечательности</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="#">Полезная информация</a>
            </li>
          </ul>
        </li>
        <li class="footer-menu__item">
          <h3 class="footer-menu__title">О нас</h3>
          <ul class="footer-submenu">
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="contacts.html">Контакты</a>
            </li>
            <li class="footer-submenu__item">
              <a class="link footer-submenu__link" href="#">Агентствам</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <ul class="footer-contact">
        <li class="footer-contact__item">
          <h3 class="footer-contact__title">Турагентство «Байкальский отдых»</h3>
          <span class="footer-contact__text">© 2021. Все права защищены</span>
        </li>
        <li class="footer-contact__item">
          <h3 class="footer-contact__title">Заказ туров и бронирование:</h3>
          <a class="link footer-contact__link" href="tel:89243541540">тел. 8-924-3-541-540</a>
          <a class="link footer-contact__link" href="mailto:baikalholiday@mail.ru">e-mail: baikalholiday@mail.ru</a>
        </li>
        <li class="footer-contact__item">
          <h3 class="footer-contact__title">Адрес:</h3>
          <span class="footer-contact__text">
            г. Улан-Удэ, ул.Гражданская, 20, отель «Рестон», 1 этаж
          </span>
        </li>
      </ul>

      <div class="footer-copy">
        <a class="link footer-copy__link" href="#">Политика конфиденциальности</a>
        <span class="footer-copy__text">Дизайн</span>
      </div>
    </div>
  </div>
</footer>