<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__wrapper">
        <a class="logo header__logo" href="#">
          <img class="logo__img" src="img/header/logo.png" alt="Logo" width="54" height="54">
          <div class="logo__text">
            <span class="logo__title">Байкальский отдых</span>
            <span class="logo__subtitle">Турагентство</span>
          </div>
        </a>

        <div class="header-contact header-contact--mobile-hidden">
          <div class="header-contact__links">
            <a class="link header-contact__link" href="tel:89243541540">
              <svg class="header-contact__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z" />
              </svg>
              8-924-3-541-540
            </a>
            <a class="link header-contact__link" href="mailto:baikalholiday@mail.ru">
              <svg class="header-contact__icon" width="24" height="24" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z" />
              </svg>
              baikalholiday@mail.ru
            </a>
          </div>
          <button class="header-contact__btn" type="button" data-btn="modal">Обратный звонок</button>
        </div>
        <button class="header__button-menu"></button>
      </div>
    </div>
  </div>

  <div class="menu-mobile">
    <div class="container">
      <button class="menu-mobile__close" type="button"></button>
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item">
          <a class="menu-mobile__link">Бронирование</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="tour-bases.html">Отели и&nbsp;базы отдыха</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="ships-and-yachts.html">Теплоходы и&nbsp;катера</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="transport-services.html">Транспортные услуги</a>
            </li>
          </ul>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link">Экскурсии</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="all-excursions.html">Экскурсии и&nbsp;туры</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="extreme-tours.html">Экстрим туры</a>
            </li>
          </ul>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link">Туры на&nbsp;Байкал</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Туры Зима-Весна</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Туры Лето-Осень</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="hunting-and-fishing.html">Туры охоты и&nbsp;рыбалки</a>
            </li>
          </ul>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link">О&nbsp;Байкале</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Карта Байкала</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="places-of-interest.html">Достопримечательности</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Полезная информация</a>
            </li>
          </ul>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link">О&nbsp;нас</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="contacts.html">Контакты</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Агентствам</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="header-contact header-contact--mobile-visible">
        <div class="header-contact__links header-contact__links--visible">
          <a class="header-contact__link" href="tel:89243541540">
            <svg class="header-contact__icon-page" width="24" height="24" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z" />
            </svg>
            8-924-3-541-540
          </a>
          <a class="header-contact__link" href="mailto:baikalholiday@mail.ru">
            <svg class="header-contact__icon-page" width="24" height="24" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z" />
            </svg>
            baikalholiday@mail.ru
          </a>
        </div>
        <button class="header-contact__btn header-contact__btn--page" type="button" data-btn="modal">
          Обратный звонок
        </button>
      </div>
    </div>
  </div>

  <nav class="menu header__menu">
    <div class="container">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link">Бронирование</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="tour-bases.html">Отели и&nbsp;базы отдыха</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="ships-and-yachts.html">Теплоходы и&nbsp;катера</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="transport-services.html">Транспортные услуги</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link">Экскурсии</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="all-excursions.html">Экскурсии и&nbsp;туры</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="extreme-tours.html">Экстрим туры</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link">Туры на&nbsp;Байкал</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Туры Зима-Весна</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Туры Лето-Осень</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="hunting-and-fishing.html">Туры охоты и&nbsp;рыбалки</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link">О&nbsp;Байкале</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Карта Байкала</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="places-of-interest.html">Достопримечательности</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Полезная информация</a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link">О&nbsp;нас</a>
          <ul class="submenu">
            <li class="submenu__item">
              <a class="link submenu__link" href="contacts.html">Контакты</a>
            </li>
            <li class="submenu__item">
              <a class="link submenu__link" href="#">Агентствам</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</header>