<div class="modal">
  <div class="modal__overlay">
    <div class="modal__content">
      <button class="button modal__close"></button>
      <h2 class="modal__title">Мы вам перезвоним!</h2>
      <input class="modal__input" type="text" placeholder="Ваше имя*" name="name" required>
      <div class="error"></div>
      <input class="modal__input" type="text" placeholder="Телефон*" name="phone" required>
      <div class="error"></div>
      <input class="modal__input" type="text" placeholder="Удобное время для звонка">
      <div class="modal__wrapper">
        <input class="modal__checkbox" type="checkbox">
        <label>Согласие на обработку персональных данных</label>
      </div>
      <button class="button modal__button" type="submit">Отправить заявку</button>
    </div>
  </div>
</div>