<div class="modal" id="popup">
  <div class="modal__overlay">
    <div class="modal__content">
      <button class="modal__close"></button>
      <h2 class="modal__title">Мы вам перезвоним!</h2>
      <form action="#" class="modal__form">
        <div class="modal__input-group">
          <input class="modal__input" type="text" name="name" placeholder="Ваше имя*" required>
          <div class="error"></div>
        </div>
        <div class="modal__input-group">
          <input class="modal__input" id="modal-phone" type="tel" name="phone" placeholder="Телефон*" required>
          <div class="error"></div>
        </div>
        <input class="modal__input" type="text" name="comment" placeholder="Удобное время для звонка">
        <label class="modal__wrapper" for="modal-checkbox">
          <input class="modal__checkbox" type="checkbox" id="modal-checkbox">
          <a href="#">Согласие на&nbsp;обработку персональных данных</a>
        </label>
        <button class="modal__button" type="submit">Отправить заявку</button>
      </form>
    </div>
  </div>
</div>