.tours
  margin-bottom: 64px
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 32px
  &__link
    width: 256px
    height: 200px
    display: flex
    flex-direction: column
    color: inherit
    border: 1px solid $white-light
    border-radius: 6px
    overflow: hidden
  &__text
    padding-top: 13px
    padding-left: 19px
    font-weight: 500
    font-size: 16px
    line-height: 19px
